

.blog-preview {
    &--first {
        background: linear-gradient(to right, $primary-accent-color 50%, rgba(0, 0, 0, 0) 50%);
        position: relative;
        top: -40px;
        & .section-blurb {
        padding: 70px 0 90px 100px;
            &__contents {
                position: relative;
                top: 70px;
            }
        }
        &__graphic {
            position: relative;
            top: -20px;
            right: 20px;
        }
        & .blog-preview__contents {
            position: relative;
        }
    }    
    &--second {
        background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, $primary-color 50%);
        position: relative;
        bottom: -40px;
        & .section-blurb {
        padding: 70px 100px 90px 0;
        text-align: right;
            &__contents {
                position: relative;
                bottom: 90px;
            }
        }
        & .wrapper {
            flex-direction: row-reverse;
        }
        & .blog-preview__graphic {
            position: relative;
            top: -20px;
            right: 20px;
        }

    }
    &--first .wrapper,
    &--second .wrapper {
        display: flex;
    }
    &__contents {
        width: 50%;
    }
    &__graphic {
        width: 50%;
    }
    
}

@media (max-width: 1100px) {

    .blog-preview {
        .wrapper{
            flex-direction: column;
            width: 100%;
        }
        &--first {
            background: none;
            position: static;
            width: 100%;
        }    
        & .section-blurb {
            padding: 0;
            &__contents {
                position: static;
                width: 100%;
            }
        }
        &__graphic {
            position: static;
            width: 100%;
            display: flex;
            &--dog {
                background-color: $primary-accent-color;
            }
            &--umbrella {
                background-color: $primary-color;
            }
            &-image {
                margin: auto;
                width: 60%;
                position: relative;
                bottom: 30px;   
            }
        }
        &__contents {
            position: static;
            width: 100%;
            text-align: center;
            padding: 80px 0;
        }  
        &--second {
            background: none;
            .wrapper {
                flex-direction: column;
            }
            position: static;
            & .section-blurb {
                padding: 0;                
                &__contents {
                    position: static;
                    text-align: center;
                }   
            }
            & .blog-preview__graphic {
                position: static;
            }
        } 
    }
}

@media (max-width: 700px) {
    .blog-preview {
        &--first,
        &--second {
            .wrapper {
                margin: 0;
                padding: 0;
                width: 100%;
            }
        }
        &__contents {
            padding: 50px 0;
        }
        &__graphic {
            width: 100%;
            &--dog,
            &--umbrella {
                background: none;
            }
            &-image{
                width: 100%;
                padding: 0;
                position: static;

                &--dog {
                    border-top: 10px solid $primary-accent-color;
                }
                &--umbrella {
                    border-top: 10px solid $primary-color;
                }
                .dog,
                .umbrella {
                    box-shadow: none;
                }
            }
            
        }
    }
}