

    .btn {
        background: $secondary-accent-color;
        padding: 20px;
        text-transform: uppercase;
        font-weight: bold;
        transition: 0.4s;   
        &:hover {
            background: lighten($secondary-accent-color, 10);
        }
    }