
// Colors

$primary-color: #f6a823;
$primary-background-color: #f0efed;
$primary-accent-color: #a82706;
$secondary-accent-color: #05afc1;
$third-accent-color:  #285e64;
$typography-color: #4f4f4f;
$legal-color: #2c2c2c;

// Typography

// font-family: 'Roboto', sans-serif;
// font-family: 'Lora', serif;

@mixin primary-font($size){
    font-family: 'Roboto', sans-serif;
    color: $typography-color;
    font-weight: bold;
    text-decoration: none;
    font-size: $size;
}

@mixin secondary-font($size){
    font-family: 'Lora', serif;
    color: $typography-color;
    font-weight: 400;
    text-decoration: none;
    font-size: $size;
}

// Base Styles

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: $typography-color;
    font-weight: 400;
    font-size: 2rem;
}

.visuallyhidden:not(:focus):not(:active) {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
    display: block;
    width: 100%;
}

li,
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.wrapper {
    max-width: 1280px;
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;

}

.paragraph {
    @include primary-font(2rem);
    font-weight: 400;
    line-height: 32px;
    padding-bottom: 40px;
}

.tile {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}

// .logo {
//     text-align: center;
// }





