
// Colors

$primary-color: #f6a823;
$primary-background-color: #f0efed;
$primary-accent-color: #a82706;
$secondary-accent-color: #05afc1;
$third-accent-color:  #285e64;
$typography-color: #4f4f4f;
$legal-color: #2c2c2c;

// Typography



// font-family: 'Roboto', sans-serif;
// font-family: 'Lora', serif;



