


.hero {
    &--index {
        background-color: $primary-color;
        display: flex;
        align-items: center;
    }
    &--blog,
    &--contact {
        background-image: url(../assets/blog-image-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        display: flex;
        align-items: flex-end;
        // position: relative;
    }
    &--contact {
        background-image: url(../assets/contact-image-1.jpg);
    }
    &--index-flex-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__element--primary {
        display: flex;
        align-items: center;
        padding-right: 20px;
        position: relative;
        &::before {
            content: "";
            display: block;
            background-image: url(../assets/circle-text.png);
            background-repeat: no-repeat;
            width: 250px;
            height: 250px;
            position: absolute; 
            top: -37px;
            left: -54px;
        }
    }
    &__element--secondary {
        position: relative;
        top: 30px;
        
    }
    &__element--image {
        width: 45.6%;
        box-shadow: 20px 20px #fff;
        position: relative;
        top: 40px
    }
}

.title {
    text-transform: uppercase;
    &--index {
        @include secondary-font(12rem);
        
    }
    &--blog,
    &--contact {
        @include secondary-font(8rem);
        position: relative;
        top: 20px;
    }
}