

.site-map-nav {
    background: $primary-background-color;
    &__list {
        display: flex;
        flex-wrap: wrap;
        padding: 100px 0;        
    }
    &__item {
        flex: 1 0 450px;
        list-style: none;
        padding-left: 30px;
        &:hover .section-blurb__heading{
            border-bottom: 4px solid $secondary-accent-color;
        }
        &:hover .site-map-nav__icon .icon {
            background-color: $secondary-accent-color;
        }
    }
    &__icon-and-blurb {
        display: flex;        
    }
    &__icon {
        display: flex;
        padding-right: 20px;        
        & .icon {
            background: $primary-color;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    & .section-blurb {
        text-align: left;
        padding: 0;
        &__heading {
            border-bottom: 4px solid $primary-background-color;
        }
    }
}

@media (max-width: 700px) {
    .site-map-nav {
        text-align: center;
        &__list {
            padding: 40px 0;
        }
        &__item {
            position: relative;
            padding: 0;
        }
        &__icon { 
            position: absolute;
        }
        & .section-blurb {
            text-align: center;
        }
    }

}

@media (max-width: 500px) {
    .site-map-nav__icon{
        position: static;
    }
    .site-map-nav .section-blurb {
        margin-bottom: 20px;
        & .paragraph {
            display: none;
        }
    }
}


