

.tile {
    padding: 35px;
    background: #fff;
    margin-bottom: 30px;
    .social-nav {
        &__list {
            display: flex;
            margin-bottom: 20px;
        }
        &__list-item {
            padding-right: 20px;
            font-size: 3rem;
        }
        &__list-item-link {
            padding-right: 20px;
            color: $primary-color;
        }
    }
    .paragraph {
        padding-bottom: 0;
    }
    &__heading {
        @extend .section-blurb__heading;
        &--small {
            @extend .section-blurb__heading--small;
        }
        &--large {
            @extend .section-blurb__heading--large;
            padding-bottom: 20px;
        }
    }
    &--flex {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    &__image {
        flex-grow: 2;
        flex-basis: 250px;
        margin-bottom: 35px;
    }
    &__contents {
        flex-grow: 3;
        flex-basis: 250px;
    }
    &__list-item--decorated {
        padding-left: 30px;
        position: relative;
        &::before {
            content: "\2022";
            color: $primary-color;
            font-size: 3.5rem;
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: -3px;
        }
    }
    &__date-and-author {
        font-style: italic;
        & .author-name,
        &--archive {
            color: $third-accent-color;
        }
    }
    &--author-image {
        display: flex;
        & .author-image {
            padding-right: 20px;
        }
    }
    &--border {
        border-bottom: 5px solid $primary-color;
    }
    &--contacts {
        margin-right: 35px;
    }
} 

@media (max-width: 850px) {
    .tile {
        &__image{
            margin-right: 35px;
            margin-bottom: 0;
            flex-basis: 180px;
        } 
        &__contents{
            flex-basis: 180px;
        }
        &--contacts {
            margin: 0 0 40px 0;

        }
    }
}

@media (max-width: 500px) {
    .tile {
        .author-image {
            display: none;
        }
        &--flex{
            flex-wrap: nowrap;
            flex-direction: column;

        }
        &__image{
            margin-right: 0;
            margin-bottom: 35px;
        } 
    }
}
