article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', sans-serif;
  color: #4f4f4f;
  font-weight: 400;
  font-size: 2rem; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

img {
  display: block;
  width: 100%; }

li,
ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }

a {
  color: inherit;
  text-decoration: inherit; }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
  padding: 0 20px; }

.paragraph {
  font-family: 'Roboto', sans-serif;
  color: #4f4f4f;
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 40px; }

.tile {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px; }

.header-nav {
  background: #f6a823;
  font-family: 'Roboto', sans-serif;
  color: #4f4f4f;
  font-weight: bold;
  text-decoration: none;
  font-size: 2rem; }
  .header-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase; }
  .header-nav__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: none; }
    .header-nav__item--logo {
      padding: 0 20px;
      list-style: none;
      font-family: 'Lora', serif;
      color: #4f4f4f;
      font-weight: 400;
      text-decoration: none;
      font-size: 3rem; }
  .header-nav__item-link {
    padding: 10px 20px; }

.hero--index {
  background-color: #f6a823;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero--blog, .hero--contact {
  background-image: url(../assets/blog-image-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.hero--contact {
  background-image: url(../assets/contact-image-1.jpg); }

.hero--index-flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__element--primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 20px;
  position: relative; }
  .hero__element--primary::before {
    content: "";
    display: block;
    background-image: url(../assets/circle-text.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: absolute;
    top: -37px;
    left: -54px; }

.hero__element--secondary {
  position: relative;
  top: 30px; }

.hero__element--image {
  width: 45.6%;
  -webkit-box-shadow: 20px 20px #fff;
  box-shadow: 20px 20px #fff;
  position: relative;
  top: 40px; }

.title {
  text-transform: uppercase; }
  .title--index {
    font-family: 'Lora', serif;
    color: #4f4f4f;
    font-weight: 400;
    text-decoration: none;
    font-size: 12rem; }
  .title--blog, .title--contact {
    font-family: 'Lora', serif;
    color: #4f4f4f;
    font-weight: 400;
    text-decoration: none;
    font-size: 8rem;
    position: relative;
    top: 20px; }

.section-blurb {
  padding: 100px 0 120px 0; }
  .section-blurb .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .section-blurb__image {
    width: 30%;
    height: 100%;
    margin-right: 40px;
    -webkit-box-shadow: 20px 20px #f6a823;
    box-shadow: 20px 20px #f6a823; }
  .section-blurb__contents--beside-image {
    width: 65%; }
  .section-blurb--grey {
    background-color: #f0efed; }
  .section-blurb__heading, .tile__heading {
    text-transform: uppercase;
    padding: 0 0 10px 0; }
    .section-blurb__heading--large, .tile__heading--large {
      font-family: 'Roboto', sans-serif;
      color: #4f4f4f;
      font-weight: bold;
      text-decoration: none;
      font-size: 4.2rem; }
    .section-blurb__heading--small, .tile__heading--small {
      font-family: 'Roboto', sans-serif;
      color: #4f4f4f;
      font-weight: bold;
      text-decoration: none;
      font-size: 3.2rem; }

.btn {
  background: #05afc1;
  padding: 20px;
  text-transform: uppercase;
  font-weight: bold; }

.blog-preview--first {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #a82706), color-stop(50%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, #a82706 50%, rgba(0, 0, 0, 0) 50%);
  background: -o-linear-gradient(left, #a82706 50%, rgba(0, 0, 0, 0) 50%);
  background: linear-gradient(to right, #a82706 50%, rgba(0, 0, 0, 0) 50%);
  position: relative;
  top: -40px; }
  .blog-preview--first .section-blurb {
    padding: 70px 0 90px 100px; }
    .blog-preview--first .section-blurb__contents {
      position: relative;
      top: 70px; }
  .blog-preview--first .blog-preview__graphic {
    position: relative;
    top: -20px;
    right: 20px; }
  .blog-preview--first .blog-preview__content {
    position: relative;
    top: 70px; }

.blog-preview--second {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0)), color-stop(50%, #f6a823));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 50%, #f6a823 50%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 50%, #f6a823 50%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #f6a823 50%);
  position: relative;
  bottom: -40px; }
  .blog-preview--second .section-blurb {
    padding: 70px 100px 90px 0;
    text-align: right; }
    .blog-preview--second .section-blurb__contents {
      position: relative;
      bottom: 90px; }
  .blog-preview--second .wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .blog-preview--second .blog-preview__graphic {
    position: relative;
    top: -20px;
    right: 20px; }

.blog-preview--first .wrapper,
.blog-preview--second .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.blog-preview__contents {
  width: 50%; }

.blog-preview__graphic {
  width: 50%; }

.site-map-nav {
  background: #f0efed; }
  .site-map-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 100px 0; }
  .site-map-nav__item {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 450px;
    flex: 1 0 450px;
    list-style: none;
    padding-left: 30px; }
  .site-map-nav__icon-and-blurb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .site-map-nav__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 20px; }
    .site-map-nav__icon .icon {
      background: #f6a823;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .site-map-nav .section-blurb {
    padding: 0; }

.gallery__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 100px 0; }

.gallery__item {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 31%;
  min-width: 300px;
  padding-bottom: 20px; }

.blog {
  background: #f0efed; }
  .blog .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .blog__aside {
    width: 30%; }
  .blog__main {
    width: 68%; }

.tile {
  padding: 20px;
  background: #fff;
  margin-bottom: 20px; }

.legal {
  background: #2c2c2c;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2; }
  .legal p {
    margin: 0; }
